<!DOCTYPE html>
<html lang="en">
<head>
    {{>header}}
</head>
<body>
    <div class="container-xxl position-relative bg-white d-flex p-0">
        {{>spinner}}
        <div class="content">
            <nav class="navbar navbar-expand bg-light navbar-light sticky-top px-4 py-0">
                <a href="index" class="navbar-brand d-flex d-lg-none me-4">
                    <h2 class="text-primary mb-0"><i class="fa fa-hashtag"></i></h2>
                </a>
                <a href="#" class="sidebar-toggler flex-shrink-0">
                    <i class="fa fa-bars"></i>
                </a>
                <form class="d-none d-md-flex ms-4">
                    <input class="form-control border-0" type="search" placeholder="Search">
                </form>
                <div class="navbar-nav align-items-center ms-auto">
                    <div class="nav-item">
                        <a href="/login" class="nav-link" > 
                            <span class="d-none d-lg-inline-flex">Log In</span>
                        </a>
                    </div>
                    <div class="nav-item">
                        <a href="/register" class="nav-link" >
                            <span class="d-none d-lg-inline-flex">Register</span>
                        </a>
                    </div>
                </div>
            </nav>

            <div class="container-fluid pt-4 px-4">
                <div class="row vh-100 bg-light rounded align-items-center justify-content-center mx-0">
                    <div class="col-md-6 text-center">
                        <h3>Welcome To Common Ground Football Managent Platform</h3>
                        <p>
                            Hello and welcome to our community of passionate football
                            enthusiasts! Our platform is dedicated to supporting the
                            growth and development of grassroots football by providing
                            a seamless and efficient management experience for teams, 
                            coaches, players, and fans alike.
                        </p>
                        <div class="m-n2">
                            <a href="/login"><button type="button" class="btn btn-outline-primary m-2"></i>Log In</button></a>
                            <a href="/register"><button type="button" class="btn btn-primary m-2"><i class="fa fa-home me-2"></i>Get Started</button></a>
                        </div>
                    </div>
                </div>
            </div>
            {{>widgets}}


            {{>footer}}
        </div>
    </div>
    {{>scripts}}
</body>
</html>