<!DOCTYPE html>
<html lang="en">

<head>
{{>header}}
</head>

<body>
    <div class="container-xxl position-relative bg-white d-flex p-0">
        <!-- Spinner Start -->
        {{>spinner}}
        <!-- Spinner End -->


        <!-- Sidebar Start -->
        {{>sidebar}}
        <!-- Sidebar End -->


        <!-- Content Start -->
        <div class="content">
            <!-- Navbar Start -->
            {{>navbar}}
            <!-- Navbar End -->

            <div class="d-flex justify-content-end m-n2 pt-4 px-4">
                <button type="button" class="btn btn-primary m-2" data-bs-toggle="modal" data-bs-target="#create-match">Create New Match</button>
            </div>

            <!-- The Modal -->
            <div class="modal" id="create-match">
                <div class="modal-dialog">
                <div class="modal-content">
            
                    <!-- Modal Header -->
                    <div class="modal-header">
                    <h4 class="modal-title">Create Match</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                    </div>
            
                    <!-- Modal body -->
                    <div class="modal-body">
                        <div class="col-sm-12 col-xl-12">
                            <div class="bg-light rounded h-100 p-4">
                                <h6 class="mb-4">Schedule A Match</h6>
                                <form action="/api/match" method="post"> 
                                    <div class="form-floating mb-3">
                                        <input type="datetime-local" class="form-control" id="date" name="date" placeholder="Match Title">
                                        <label for="date">Date</label>
                                    </div>
                                    <div class="form-floating mb-3">
                                        <select class="form-control" id="homeTeam" name="homeTeam" required>
                                            <option value="">Select a team</option>
                                            <!-- Teams will be loaded here dynamically -->
                                        </select>
                                        <label for="homeTeam">Home Team</label>
                                    </div>                                     
                                    <div class="form-floating mb-3">
                                        <select class="form-control" id="awayTeam" name="awayTeam" required>
                                            <option value="">Select a team</option>
                                            <!-- Teams will be loaded here dynamically -->
                                        </select>
                                        <label for="awayTeam">Team</label>
                                    </div>
                                    <div class="form-floating mb-3">
                                        <input type="text" class="form-control" id="result" name="result" placeholder="Result">
                                        <label for="result">Result</label>
                                    </div>
                                    <div class="form-floating mb-3">
                                        <label for="status">Status:</label>
                                        <select id="status" class="form-control" name="status">
                                            <option value="scheduled">Scheduled</option>
                                            <option value="ongoing">Ongoing</option>
                                            <option value="completed">Completed</option>
                                            <option value="postponed">Postponed</option>
                                        </select>
                                    </div>
                                    <div class="form-floating mb-3">
                                        <input type="text" class="form-control" id="venue" name="venue" placeholder="Stadium">
                                        <label for="venue">Stadium</label>
                                    </div>
                                    <div class="pt-4 px-4">
                                        <button type="submit" class="btn btn-primary py-3 w-100 mb-4">Create New Team</button>
                                    </div>
                                </form>                          
                            </div>
                        </div>                        
                    </div>
            
                    <!-- Modal footer -->
                    <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                    </div>
            
                </div>
                </div>
            </div>  

            <!-- Matches Start -->
            <div class="container-fluid pt-4 px-4">
                <div class="row g-4">
                    <div class="col-sm-12 col-md-6">
                        <div class="h-100 bg-light rounded p-4">
                            <div class="d-flex align-items-center justify-content-between mb-2">
                                <h6 class="mb-0">Recent Result</h6>
                            </div>
                            {{#results}}
                            <div class="d-flex align-items-center border-bottom py-3">
                                <img class="rounded-circle flex-shrink-0" src="img/teamA.png" alt="" style="width: 40px; height: 40px;">
                                <div class="w-100 ms-3">
                                    <div class="d-flex w-100 justify-content-between">
                                        <h6 class="mb-0">{{homeTeam.name}} {{result}} {{awayTeam.name}}</h6>
                                        <small>{{venue}}</small>
                                    </div>
                                    <span>{{venue}}</span>
                                </div>
                            </div>
                            {{/results}}
                            {{^results}}
                            <h6 class="mb-0">No Recent Results</h6>
                            {{/results}}
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <div class="h-100 bg-light rounded p-4">
                            <div class="d-flex align-items-center justify-content-between mb-4">
                                <h6 class="mb-0">Upcoming Fixtures</h6>
                            </div>
                            {{#fixtures}}
                            <div class="d-flex align-items-center border-bottom py-3">
                                <div class="fixture">
                                    <div class="fixture-date">{{date}}</div>
                                    <div class="fixture-teams">{{homeTeam.name}} vs {{awayTeam.name}}</div>
                                    <div class="fixture-time">{{date.time}}</div>
                                    <div class="fixture-location">{{venue}}</div>
                                </div>
                            </div>
                            {{/fixtures}}
                            {{^fixtures}}
                            <h6 class="mb-0">No Upcoming Fixtures</h6>
                            {{/fixtures}}
                        </div>
                    </div>
    
                </div>
            </div>
            <!-- Matches End -->


            <!-- Footer Start -->
            {{>footer}}
            <!-- Footer End -->
        </div>
        <!-- Content End -->


        <!-- Back to Top -->
        <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
    </div>

    {{>scripts}}
    <script>
        // Function to load teams
        async function loadTeams() {
            try {
                const response = await fetch('/api/teams');
                const teams = await response.json();
                const homeTeamSelect = document.getElementById('homeTeam');
                homeTeamSelect.innerHTML = '<option value="">Select a team</option>'; // Clear existing options

                const awayTeamSelect = document.getElementById('awayTeam');
                awayTeamSelect.innerHTML = '<option value="">Select a team</option>';
                
                teams.forEach(team => {
                    const optionHome = document.createElement('option');
                    optionHome.value = team._id;
                    optionHome.textContent = team.name;
                    homeTeamSelect.appendChild(optionHome);

                    const optionAway = document.createElement('option');
                    optionAway.value = team._id;
                    optionAway.textContent = team.name;
                    awayTeamSelect.appendChild(optionAway);

                });
            } catch (error) {
                console.error('Failed to load teams:', error);
            }
        }

        // Load teams when the modal is shown
        document.getElementById('create-match').addEventListener('show.bs.modal', loadTeams);
    </script>
</body>

</html>