<!DOCTYPE html>
<html lang="en">

<head>
    {{>header}}
</head>

<body>
    <div class="container-xxl position-relative bg-white d-flex p-0">
        <!-- Spinner Start -->
        {{>spinner}}
        <!-- Spinner End -->


        <!-- Sidebar Start -->
        {{>sidebar}}
        <!-- Sidebar End -->


        <!-- Content Start -->
        <div class="content">
            <!-- Navbar Start -->
            {{>navbar}}
            <!-- Navbar End -->

            <!-- Sale & Revenue Start -->
            {{#seasonStats}}
            <div class="container-fluid pt-4 px-4">
                <div class="row g-4">
                    <div class="col-sm-6 col-xl-3">
                        <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                            <i class="fa fa-chart-line fa-3x text-primary"></i>
                            <div class="ms-3">
                                <p class="mb-2">Minutes per Goal This Year</p>
                                <h6 class="mb-0" id="min_per_goal ">{{minutesPerGoal}}</h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-xl-3">
                        <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                            <i class="fa fa-chart-bar fa-3x text-primary"></i>
                            <div class="ms-3">
                                <p class="mb-2">Shooting Accuracy This Year</p>
                                <h6 class="mb-0" id="shot_accuracy">{{shotAccuracy}}%</h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-xl-3">
                        <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                            <i class="fa fa-chart-area fa-3x text-primary"></i>
                            <div class="ms-3">
                                <p class="mb-2">Passing Accuracy This Year</p>
                                <h6 class="mb-0" id="pass_accuracy">{{passAccuracy}}%</h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-xl-3">
                        <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                            <i class="fa fa-chart-pie fa-3x text-primary"></i>
                            <div class="ms-3">
                                <p class="mb-2">Tackles Win Rate This Year</p>
                                <h6 class="mb-0" id="tackles">{{tackleWinRate}}%</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {{/seasonStats}}
            <!-- Sale & Revenue End -->

            <!-- Blank Start -->
            <div class="container-fluid pt-4 px-4">
                <div class="row g-4">
                    <div class="col-sm-12 col-md-6">
                        <div class="row vh-100 bg-light rounded align-items-center justify-content-center mx-0">
                            <canvas id="minutesPerGoalChart" width="800" height="400"></canvas>                            
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <div class="row vh-100 bg-light rounded align-items-center justify-content-center mx-0">
                            <canvas id="shotAccuracyChart" width="800" height="400"></canvas>
                            </div>
                    </div>
                </div>
            </div>
            <div class="container-fluid pt-4 px-4">
                <div class="row g-4">
                    <div class="col-sm-12 col-md-6">
                        <div class="row vh-100 bg-light rounded align-items-center justify-content-center mx-0">
                            <canvas id="passAccuracyChart" width="800" height="400"></canvas>                            
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <div class="row vh-100 bg-light rounded align-items-center justify-content-center mx-0">
                            <canvas id="tackleWinRateChart" width="800" height="400"></canvas>
                            </div>
                    </div>
    
                </div>
            </div>
            <!-- Blank End -->


            <!-- Footer Start -->
            {{>footer}}
            <!-- Footer End -->
        </div>
        <!-- Content End -->


        <!-- Back to Top -->
        <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
    </div>

    {{>scripts}}
    <script src="js/performance.js"></script>
</body>

</html>