<!DOCTYPE html>
<html lang="en">

<head>
    {{>header}}
</head>

<body>
    <div class="container-xxl position-relative bg-white d-flex p-0">
        <!-- Spinner Start -->
        {{>spinner}}
        <!-- Spinner End -->


        <!-- Sidebar Start -->
        {{>sidebar}}
        <!-- Sidebar End -->


        <!-- Content Start -->
        <div class="content">
            <!-- Navbar Start -->
            {{>navbar}}
            <!-- Navbar End -->
            <div class="container-fluid pt-4 px-4">
                <div class="row g-4">
                    {{#player}}
                    <div class="col-sm-12 col-xl-6">
                        <div class="bg-light rounded h-100 p-4">
                            <h6 class="mb-4">Profile</h6>
                            <ul class="list-group">
                                <li class="list-group-item bg-transparent">Name: {{name}}</li>
                                <li class="list-group-item bg-transparent">Age: {{age}}</li>
                                <li class="list-group-item bg-transparent">Position: {{position}}</li>
                                <li class="list-group-item bg-transparent">Team: {{team.name}}</li>
                                <li class="list-group-item bg-transparent">Jersey Number: {{jersey}}</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-12 col-xl-6">
                        
                        <div class="bg-light rounded align-items-center h-100 p-4">
                            <div class="position-relative">
                            <img src="img/profile.jpg" alt="" style="width: 80%; height: 80%;">
                        </div>
                        </div>
                    </div>
                    {{/player}}
                </div>
            </div>

            <!-- Sale & Revenue Start -->
            {{#overallStats}}
            <div class="container-fluid pt-4 px-4">
                <div class="row g-4">
                    <div class="col-sm-6 col-xl-3">
                        <div class="h-100 bg-light rounded d-flex align-items-center justify-content-between p-4">
                            <i class="fa fa-chart-line fa-3x text-primary"></i>
                            <div class="ms-3">
                                <p class="mb-2">Overall Minutes per Goal</p>
                                <h6 class="mb-0" id="min_per_goal ">{{minutesPerGoal}}</h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-xl-3">
                        <div class="h-100 bg-light rounded d-flex align-items-center justify-content-between p-4">
                            <i class="fa fa-chart-bar fa-3x text-primary"></i>
                            <div class="ms-3">
                                <p class="mb-2">Overall Shooting Accuracy</p>
                                <h6 class="mb-0" id="shot_accuracy">{{shotAccuracy}}%</h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-xl-3">
                        <div class="h-100 bg-light rounded d-flex align-items-center justify-content-between p-4">
                            <i class="fa fa-chart-area fa-3x text-primary"></i>
                            <div class="ms-3">
                                <p class="mb-2">Overall Passing Accuracy</p>
                                <h6 class="mb-0" id="pass_accuracy">{{passAccuracy}}%</h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-xl-3">
                        <div class="h-100 bg-light rounded d-flex align-items-center justify-content-between p-4">
                            <i class="fa fa-chart-pie fa-3x text-primary"></i>
                            <div class="ms-3">
                                <p class="mb-2">Overall Tackle Win Rate</p>
                                <h6 class="mb-0" id="tackles">{{tackleWinRate}}%</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {{/overallStats}}
            <!-- Sale & Revenue End -->

            <div class="container-fluid pt-4 px-4">
                <div class="row g-4">
                    <div class="col-sm-12 col-xl-6">
                        <div class="bg-light rounded h-100 p-4">
                            <canvas id="minutesPerGoalChart"></canvas> 
                        </div>
                    </div>
                    <div class="col-sm-12 col-xl-6">
                        <div class="bg-light rounded h-100 p-4">
                            <canvas id="shotAccuracyChart"></canvas>
                        </div>
                    </div>
                    <div class="col-sm-12 col-xl-6">
                        <div class="bg-light rounded h-100 p-4">
                            <canvas id="passAccuracyChart"></canvas> 
                        </div>
                    </div>
                    <div class="col-sm-12 col-xl-6">
                        <div class="bg-light rounded h-100 p-4">
                            <canvas id="tackleWinRateChart"></canvas>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Footer Start -->
            {{>footer}}
            <!-- Footer End -->
        </div>
        <!-- Content End -->


        <!-- Back to Top -->
        <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
    </div>

    {{>scripts}}
    <script src="js/performance.js"></script>
</body>

</html>