<!DOCTYPE html>
<html lang="en">
<head>
    {{>header}}
</head>

<body>
    <div class="container-xxl position-relative bg-white d-flex p-0">
        <!-- Spinner Start -->
        {{>spinner}}
        <!-- Spinner End -->


        <!-- Sidebar Start -->
        {{>sidebar}}
        <!-- Sidebar End -->


        <!-- Content Start -->
        <div class="content">
            <!-- Navbar Start -->
            {{>navbar}}
            <!-- Navbar End -->

            


            <div class="d-flex justify-content-end m-n2 pt-4 px-4">
                <button type="button" class="btn btn-primary m-2" data-bs-toggle="modal" data-bs-target="#create-team">Create New Team</button>
            </div>

            <!-- The Modal -->
            <div class="modal" id="create-team">
                <div class="modal-dialog">
                    <div class="modal-content">

                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h4 class="modal-title">Register Team</h4>
                        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                    </div>

                    <!-- Modal body -->
                    <div class="modal-body">
                        <div class="col-sm-12 col-xl-12">
                            <div class="bg-light rounded h-100 p-4">
                                <h6 class="mb-4">Register Football Team</h6>
                                <form action="/api/teams" method="post">
                                    <div class="form-floating mb-3">
                                        <input type="text" class="form-control" id="name" name="name" placeholder="Team Name">
                                        <label for="name">Team Name</label>
                                    </div>
                                    <div class="form-floating mb-3">
                                        <input type="text" class="form-control" id="location" name="location" placeholder="Location">
                                        <label for="location">Location</label>
                                    </div>
                                    <div class="form-floating mb-3">
                                        <input type="text" class="form-control" id="stadium" name="stadium" placeholder="Home Ground">
                                        <label for="stadium">Home Ground</label>
                                    </div>
                                    <div class="form-floating mb-3">
                                        <input type="text" class="form-control" id="coach" name="coach" placeholder="Coach Name">
                                        <label for="coach">Coach Name</label>
                                    </div>
                                    <div class="pt-4 px-4">
                                        <button type="submit" class="btn btn-primary py-3 w-100 mb-4">Create New Team</button>
                                    </div>

                                </form>
                            </div>
                        </div>                    
                    </div>

                    <!-- Modal footer -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                    </div>

                    </div>
                </div>
            </div>



            <!-- Standings Start -->
            <div class="container-fluid pt-4 px-4">
                <div class="bg-light text-center rounded p-4">
                    <div class="d-flex align-items-center justify-content-between mb-4">
                        <h6 class="mb-0">Teams</h6>
                    </div>
                    {{#teams.length}}
                    <div class="table-responsive">
                        <table class="table text-start align-middle table-bordered table-hover mb-0">
                            <thead>
                                <tr class="text-dark">
                                    <th scope="col">No.</th>
                                    <th scope="col">Team</th>
                                    <th scope="col">Location</th>
                                    <th scope="col">Home Ground</th>
                                    <th scope="col">Number of Players</th>
                                    <th scope="col">League</th>
                                </tr>
                            </thead>
                            <tbody>
                                {{#teams}}
                                <tr>
                                    <td>{{index}}</td>
                                    <td>{{name}}</td>
                                    <td>{{location}}</td>
                                    <td>{{stadium}}</td>
                                    <td>{{playerCount}}</td>
                                    <td>Nsingweni Promotion League</td>
                                    <td>
                                        <!-- Edit Button -->
                                        <button type="button" class="btn btn-square btn-primary m-2">
                                            <i class="fa fa-edit"></i>
                                        </button>
                                        
                                        <!-- Delete Button -->
                                        <button type="button" class="btn btn-square btn-danger m-2">
                                            <i class="fa fa-trash"></i>
                                        </button>
                                    </td>
                                </tr>
                                {{/teams}}
                            </tbody>
                        </table>
                    </div>
                    {{/teams.length}}
                    {{^teams.length}}
                    <h6 class="mb-0">No Teams yet</h6>
                    {{/teams.length}}
                </div>
            </div>
            
            <!-- Standings End -->

            <!-- Footer Start -->
           {{>footer}}
            <!-- Footer End -->
        </div>
        <!-- Content End -->


        <!-- Back to Top -->
        <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
    </div>

    {{>scripts}}
</body>

</html>